npm-debug.log
.DS_Store

*.js.map
*.js
hooks/*
!hooks/after-createProject/after-createProject.js
*.css
lib/
node_modules/
platforms/
tmp/
typings/
.idea
.vscode
.cloud
.project

lerna-debug.log
npm-debug.log
package-lock.json
.DS_Store

hooks/*
node_modules/
platforms/
tmp/
typings/

.idea
.cloud
.project
.vscode

